{% extends "layout.html" %}

{% block content %}
  <div class="content-wrapper">
    <form action="{{ url_for('playlists')}}"method="post" class="form-selection">
        <label>Enter Username</label>
        <input type="text" name="username" placeholder="username123...">
        <input type="submit" value="Submit Username">
    </form>


    <div class="playlist-wrapper">
      {% for playlist in playlists: %}
        <a href="{{ url_for('playlist_info', playlistId=playlists.get(playlist)) }}">{{ playlist }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}