<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main class="wrapper">
        <h1>Spotify Analysis</h1>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>